language: node_js

node_js:
  - 11.5.0

before_install:
  - openssl aes-256-cbc -K $encrypted_231f8858f615_key -iv $encrypted_231f8858f615_iv -in travis_secret.tar.enc -out travis_secret.tar -d
  - tar xvf travis_secret.tar
  - cp ~/.travis/travis_pantau_rsa ~/.ssh/
  - eval "$(ssh-agent -s)"
  - ssh-keyscan -t rsa -H $STAGING_SERVER_IP 2>&1 | tee -a ${TRAVIS_HOME}/.ssh/known_hosts
  - chmod 600 ~/.ssh/travis_pantau_rsa
  - ssh-add ~/.ssh/travis_pantau_rsa
  - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  - node -v
  - npm -v

install:
  - npm install

stages:
  - name: release_staging
    if: branch = staging

jobs:
  include:
    - stage: release_staging
      script:
        - touch config/env/prod.js
        - cat .travis/staging.js  >> config/env/prod.js
        - npm run build
        - rsync -rav --delete dist/ $STAGING_SERVER_USERNAME@$STAGING_SERVER_IP:$STAGING_DEPLOY_PATH
