.card-quiz
  .title
    text-transform: none
  .quiz
    &-content
      padding: 10px 10px 40px
      position: relative
      min-height: 95px
    &-desc
      position: absolute
      left: 0
      right: 0
      bottom: 0
      text-align: center
      background-color: rgba(255, 255, 255, 0.75)
      padding: 10px 10px 15px
      border-bottom-left-radius: 0.25rem
      border-bottom-right-radius: 0.25rem
      h3
        margin-bottom: 0
        color: #000
        font-size: 18px
        font-family: 'Bw Modelica'
        letter-spacing: 0.43px
        font-weight: bold
      p
        margin: 3px 0 5px
        font-size: 12px
        color: #000
        font-family: 'Bw Modelica'
        font-weight: 500
        letter-spacing: 0.29px
      .btn
        text-transform: uppercase
        font-size: 10px
        font-weight: bold
        letter-spacing: 0.24px
        padding: 3px 20px

.card-quiz-detail
    padding: 24px
    margin: 0
    position: relative
    height: 571px
    border-width: 0
    @media (max-width: 575px)
      padding: 15px
    .quiz
        &-content
            height: 100%
            margin: 0
            padding: 0
            z-index: 2
            text-align: center

        &-background
            z-index: 1
            top: 0
            img
                height: 100%
                width: 100%

        &-panel
            width: 75%
            margin: 0
            padding: 0
            min-height: 306px
            background-color: #f4f4f4
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%)
            display: flex;
            flex-direction: column
            justify-content: space-between
            align-items: center
            border-radius: 0

        &-title
            height: 90px
            margin-top: 30px
            padding: 8px 4px
            width: 100%

            h3
              overflow: hidden
              white-space: nowrap
              text-overflow: ellipsis

        &-description
            display: flex
            flex-direction: column
            justify-content: space-between
            height: 100%
            width: 100%

            p
                padding: 8px 20px

            .btn
                border-radius: 0
                background-color: #4f339b
                border-color: #4f339b
                height: 38px
                font-size: 18px
                line-height: 16px

        &-background
            z-index: 1
            top: 0
            img
                height: 100%
                width: 100%

        &-panel
            width: 75%
            margin: 0
            padding: 0
            min-height: 306px
            background-color: #f4f4f4
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%)
            display: flex;
            flex-direction: column
            justify-content: space-between
            align-items: center
            border-radius: 0
            @media (max-width: 575px)
                width: calc(100% - 30px)
        &-title
            height: 90px
            margin-top: 30px
            padding: 8px 4px
            width: 100%

        &-description
            display: flex
            flex-direction: column
            justify-content: space-between
            height: 100%

            p
                padding: 8px 20px

            .btn
                border-radius: 0
                background-color: #4f339b
                border-color: #4f339b
                height: 38px
                font-size: 18px
                line-height: 16px

.card-quiz-result
  padding: 0
  margin: 0
  min-height: 571px
  border-width: 0
  background-color: #ffffff

  .quiz-content
    background-color: transparent
    text-align: center
    display: flex
    justify-content: flex-start
    align-items: center
    flex-direction: column
    padding: 0
    margin: 0
    z-index: 3

    &.answer
      align-items: flex-start

    .title
      font-family: Lato
      color: #bc071b
      font-weight: 800
      font-size: 22px
      line-height: 33px
      border-width: 0

    p
      font-family: Lato
      font-size: 12px
      font-weight: 500
      color: #7c7c7c
      margin: 2px 0
      text-align: center

      strong
        color: #111111

    img.thumbnail
      width: 150px
      height: 150px
      border: 1px solid #ffffff
      margin: 130px 0 36px
      z-index: 4

    .percentage
      display: block
      font-family: BwModelicaSS01, Lato
      font-weight: 800
      font-size: 60px
      line-height: 62px
      margin: 0
      color: #ffffff

    .subtitle
      font-weight: 400
      font-size: 14px
      line-height: 16px
      color: #ffffff

      // &-small
      //   display: block
      //   position: absolute
      //   bottom: 10px
      //   right: 0
      //   transform: translate(-50%, -50%)
      //   text-align: right
      //   background-color: #dedede

    .share
      text-decoration: none
      font-family: BwModelicaSS01, Lato
      font-size: 14px
      line-height: 16px
      text-align: center
      color: #ffffff
      display: block
      line-height: 30px
      border-radius: 50px
      background-color: transparent
      border: 1px solid #ffffff
      margin-top: 40px
      padding: 4px 15px
      width: 140px

      svg
        fill: #ffffff
        display: inline-block
        height: 24px
        width: 24px
        margin-right: 8px

  .quiz-description
    background-color: #ffffff
    z-index: 3
    width: 270px
    padding: 32px 24px 0
    margin: 0
    height: 130px

    &--content
      width: 100%
      height: 100%
      position: absolute
      top: 320px
      left: 50%
      transform: translate(-50%, -50%)
      z-index: 4
      display: flex
      align-items: center
      flex-direction: column

  .block-bottom
    position: absolute;
    display: flex;
    align-content: flex-end;
    align-self: flex-end;
    bottom: 36px;

    &--title
      padding-right: 12px
      font-size: 10px
      font-weight: 400
      line-height: 16px
      color: #ffffff !important
      cursor: pointer

      &:hover
        text-decoration: underline

  .quiz-description--curve
    height: 140px
    width: 100%
    background-color: #ffffff
    border-radius: 0% 0% 115% 115% / 0% 0% 255% 255%
    position: absolute
    top: 108px
    z-index: 2

  .quiz-background
    bottom: 0
    left: 0
    z-index: 1
    overflow: hidden
