.card-tanya
  .card-list
    padding: 0
    border-bottom: 1px solid #ececec
    &:last-child
      border-bottom: none
    .group-content
      display: flex
      align-items: flex-start
      @media (max-width: 991px)
        align-items: stretch
      .content-count
        border-right: 1px solid #ececec
        border-bottom: 1px solid #ececec
        padding: 15px 10px
        text-align: center
        @media (max-width: 991px)
          border-bottom: none
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center
          background-color: #f9f9f9
        .icon-count
          width: 36px
          margin-bottom: 5px
        .total-count
          color: #727272

      .content-desc
        padding: 15px 20px
        flex: 1
        @media (max-width: 575px)
          padding: 15px
        .title
          &-desc
            display: flex
            align-items: center
          &-thumb
            width: 32px
            height: 32px
            border-radius: 50%
            overflow: hidden
            margin-right: 8px
            @media (max-width: 575px)
              width: 28px
              height: 28px
            img
              width: 100%
              height: 100%
              object-fit: cover
              object-position: center center
          &-center
            flex: 1
            h5
              font-size: 12px
              font-weight: bold
              margin: 0
              color: #212121
              @media (max-width: 575px)
                font-size: 11px
            p
              margin-bottom: 0
              font-size: 11px
              color: #4f4f4f
              @media (max-width: 575px)
                line-height: 1
          &-right
            font-size: 11px
            color: #7c7c7c
            @media (max-width: 575px)
              font-size: 10px

        .desc-text
          padding: 10px 0
          font-size: 16px
          color: #393939
          line-height: 22px
          font-family: 'Bw Modelica'
          font-weight: bold
          p
            word-break: break-word
          @media (max-width: 575px)
            font-size: 14px
            line-height: 19px

        .desc-icon
          display: flex
          align-items: center
          justify-content: flex-end
          a
            width: 24px
            display: block
            margin-left: 10px
            &.icon-setting
              // display: flex
              svg
                width: 24px

  button.vote
    background: transparent
    border: none
    cursor: pointer
    padding: 0
    .vote-count
      color: #727272
      font-size: 14px
    .icon.voteup
      background-color: #727272
      height: 35px
      width: 35px
      display: block
      margin: auto
      mask-image: url('~@/assets/icon-upvote.svg')
      &.voted
        background-color: #9b0012
    .icon.vote-up.upvote-lottie
      transform: scale(1.8) translateY(-6px)
      height: 35px
      width: 35px
