.modal-header
    border-width: 0
    margin: 0
    padding: 0

.modal-body--question
    margin: 0
    padding: 0
    h2
        height: 120px
        font-size: 18px
        line-height: 24px
        text-align: center
        display: flex
        justify-content: center
        align-items: center

.row-question
    height: 100%
    margin: 0
    padding: 0
    .col
        margin: 0
        padding-left: 4px
        padding-right: 4px

.col-question
    margin: 0
    padding: 0
    height: 100%
    color: #111111
    background-color: #f4f4f4
    text-align: center
    display: flex
    flex-direction: column
    justify-content: space-between
    p
        padding: 14px
    .btn
        border-radius: 0
        border-width: 0
        background-color: #54369f

