.sidebar
  position: fixed
  height: calc(100vh - 100px)
  max-width: calc(1110px / 12 * 3)
  top: 100px
  overflow: auto
  @media (max-width: 1199px)
    max-width: calc(930px / 12 * 3)
  @media (max-width: 991px)
    max-width: calc(690px / 12 * 3)

  .nav-top
    margin-bottom: 25px
    border-bottom: 1px solid #DEDEDE
    padding-bottom: 20px

  ul
    padding: 0
  li
    list-style-type: none
  a
    color: #9B0012
    text-transform: uppercase
    font-weight: 100
    padding: 7px 15px
    text-decoration: none
    display: flex
    align-items: center
    img
      width: 24px
      margin-right: 10px

    svg
      width: 24px
      height: 24px
      margin-right: 10px
      fill: #4F4F4F

    &.router-link-active
      background-color: #fff
      svg 
        fill: #9B0012

  h4
    font-size: 14px
    font-weight: 600
    text-transform: uppercase
