'use strict'
module.exports = {
  NODE_ENV: '"development"',
  APP_NAME: '"PantauBersama"',
  APP_DESCRIPTION:
    '"Pantau Bersama merupakan aplikasi yang memungkinkan penggunanya untuk Menyerap, Menggali, Menguji, Menjaga, dan Merayakan Pesta Demokrasi Pemilu 2019."',
  APP_KEYWORDS: '"pantau bersama, pantau, pemilu, pantau pemilu, pemilu 2019, pesta demokrasi, indonesia"',
  APP_AUTHOR: '"pantaubersama"',
  BASE_URL: '"https://localhost:8080/"',
  API_PEMILU_BASE_URL: '"https://staging-pemilu.pantaubersama.com"',
  API_BASE_URL: '"https://staging-auth.pantaubersama.com"',
  API_WORD_STADIUM_URL: '"https://staging-service.wordstadium.com"',
  API_OPINIUM_URL: '"https://staging-service.opinium.social"',
  OAUTH_TOKEN_URL: '"/oauth/token"',
  OAUTH_BASE_URL: '"https://identitas.extrainteger.com/"',
  OAUTH_CLIENT_ID: '"YOUR_CLIENT_ID"',
  OAUTH_REDIRECT_URI: '"/login"',
  OAUTH_AUTHORIZATION_URL: '"/oauth/authorize"',
  TW_CONSUMER_KEY: '"gnWWCXI8Ki255KFtEyWcIcYrh"',
  TW_CONSUMER_SECRET: '"qQroOfVy6IIg6yr6s3cIResqI6w9EYqRz6cO1KoS9iWibQgXyR"',
  FB_APP_ID: '"487265651802954"',
  FB_APP_SECRET: '"d46d657ba90e042956b16bffc9f5ab3b"',
  SHARE_DOMAIN: '"https://staging-share.pantaubersama.com"',
  API_NOTIFICATION_URL: '"https://staging-notification.pantaubersama.com"'
}
